@font-face {
   font-family: 'Halvar Breitschrift';
   src: local('Halvar Breitschrift Bd'), local('Halvar-Breitschrift-Bd'),
       url('../fonts/HalvarBreit-Bd.woff2') format('woff2'),
       url('../fonts/HalvarBreit-Bd.woff') format('woff'),
       url('../fonts/HalvarBreit-Bd.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
 }

 @font-face {
   font-family: 'Circe Regular';
   src: url('../fonts/Circe-Regular.eot');
   src: url('../fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'),
   url('../fonts/Circe-Regular.woff') format('woff'),
   url('../fonts/Circe-Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
   }



   @mixin cr {
      font-family: 'Circe Regular', sans-serif;
   }
   
   @mixin hb {
      font-family: 'Halvar Breitschrift', sans-serif;
   }