.directions
   background: #EA5F70 url('../image/women2.png') no-repeat center
   border-radius: 42px
   padding: 60px 40px 40px 40px
   position: relative
   margin-top: 70px
   &__title
      font-family: 'Halvar Breitschrift'
      font-size: 56px
      color: #FFFFFF
      width: 576px
   &__text
      font-family: 'Halvar Breitschrift'
      font-size: 24px
      line-height: 120%
      width: 305px
      color: #FFFFFF
      position: absolute
      width: 305px
      height: 232px
      left: 954px
      top: 157px
   &__items
      width: 100%
      margin-top: 245px
      display: flex
      gap: 15px

.direction__item
   background: #FFFFFF
   border-radius: 30px
   padding: 30px

   &-nubber
      font-family: 'Halvar Breitschrift'
      font-size: 32px
      margin-bottom: 50px
      width: 70px
      & span
         padding: 5px 25px
         background: #014AEB
         border-radius: 25px

         color: #FFFFFF

   &-text
      font-family: Circe Regular, sans-serif
      font-size: 24px
      line-height: 120%
