.results
   margin-top: 70px
   &__body
      display: grid
      grid-template-columns: 480px 805px
      grid-template-rows: object-fit 1fr 1fr
      gap: 15px

   &__body.reverse
      margin-top: 15px
      grid-template-columns: 805px 480px
      grid-template-rows: 1fr
   &__body.reverse:first-child
      grid-column: 2

   &__text
      +hb
      font-size: 24px
      line-height: 145%
      color: #26252A

.results__block1

.block
   background: #EA5F70
   border-radius: 30px
   padding: 40px

   &__title
      +hb
      font-size: 40px
      color: #FFFFFF
   &__text
      +cr
      font-size: 24px
      color: #FFFFFF

.results__block2

.block2
   background: #F5F6F9
   border-radius: 30px
   position: relative
   padding: 67px 40px 40px 40px
   & img:nth-child(2)
      position: absolute
      bottom: 84px
      right: 40px
   & img:nth-child(3)
      position: absolute
      bottom: 60px
      right: 40px
   & img:nth-child(4)
      position: absolute
      bottom: 40px
      right: 40px

.cr
   position: absolute
   width: 20px
   height: 20px
   box-shadow: 0px 0px 4px rgba(49, 112, 235, 0.3)
   border-radius: 50%
   transition: .5s
   cursor: pointer
   &:hover
      transform: scale(1.2)
      transition: .5s

.circle1
   top: 217px
   right: 200px
   background: #014AEB

.circle2
   background: #EA5F70
   bottom: 130px
   right: 83px

.circle3
   background: #014AEB
   top: 217px
   right: 200px

.circle4
   background: #EA5F70
   bottom: 130px
   right: 83px

.info
   transition: .5s
   padding: 20px
   border-radius: 10px
   position: absolute
   opacity: 0
   transition: .5s
   &__text
      +cr
      font-size: 24px
      color: #FFFFFF
      width: 400px

.info1
   top: 190px
   left: 120px
   background: #014AEB
.info2
   bottom: 100px
   right: 120px
   background: #EA5F70

.info3
   top: 190px
   left: 120px
   background: #014AEB
.info4
   bottom: 100px
   right: 120px
   background: #EA5F70

.info5
   top: 40px
   right: -60px
   background: #EA5F70

.info1.active ,.info2.active ,.info3.active  ,.info4.active ,.info5.active
   opacity: 1
   transition: .5s

.results__block3

.block3

.results__block4
